.App{
    display: flex;
    flex-direction: column;
}
.VidAndPerSection{
    background: linear-gradient(180deg, #FCFCFC 0%, #EDEEF8 100%);
}
.AboutSection{
background: linear-gradient(180deg, #F5F6FF 36.98%, #FCFCFC 100%);
}